:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
}

body {
  font-family: Roboto;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
}
/*nav*/
.container-1 {
  background: #ffffff;
  color: var (--title-text-color);
}
.logo-link {
  font-family: Raleway;
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  font-family: Raleway;
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.link1 {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.link1:hover,
.link1:focus {
  color: #2196f3;
}
.link1:active {
  color: tomato;
}

.nav-ul {
  font-weight: 500; /* Жирное начертание */
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.container-mail .container-tel {
  list-style-type: none;
  font-style: normal;
  color: var(--primary-text-color);
}
.container-li {
  list-style-type: none;
}

/* main */
.container-3 {
  background: #2f303a;
}
.contaner-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
button.container-button-1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.container-footer {
  font-style: normal;
  background: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.studio-footer .text-p {
  color: #ffffff;
}

.logo-link-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}
