:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
}
/*nav*/
.container-1 {
  background: #ffffff;
  color: var (--title-text-color);
}
.logo-link {
  font-family: Raleway;
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  font-family: Raleway;
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.link1 {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.link1:hover,
.link1:focus {
  color: #2196f3;
}
.link1:active {
  color: tomato;
}

.nav-ul {
  font-weight: 500; /* Жирное начертание */
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.contakty a {
  list-style-type: none;
  color: var(--primary-text-color);
}
.container-li {
  list-style-type: none;
}

/* main */
.container-3 {
  background: #2f303a;
}
.container-3 h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/*button*/
button.container-button-1 {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.text-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text-p {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.container-footer {
  background: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
.studio-footer .text-p {
  color: #ffffff;
}

.logo-link-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.container-footer span {
  color: #ffffff;
}
.footer-address a {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*portfolio*/

.text-p a {
  color: var(--primary-text-color);
}
button.filtry {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}
button.filtry:hover button.filtry:focus {
  background: #2196f3;
  color: #ffffff;
}
