*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
}
.container-1 {
  display: flex;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.link1:hover {
  color: #2196f3;
}
.link1:focus {
  color: #2196f3;
}
.link1 {
  color: #212121;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
nav {
  flex: 1;
  display: flex;
}
.container-2 {
  display: flex;
}
.contakty {
  display: flex;
}
.logo-link {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal; /* начертание текста */
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.logo-link:hover {
  color: #2196f3;
}
.logo-link:focus {
  color: #2196f3;
}
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}
.studio:hover {
  color: #2196f3;
}
.studio:focus {
  color: #2196f3;
}

.container-studia {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.container-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-weight: 500; /* Жирное начертание */
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.container-portfolio :hover {
  color: #2196f3;
}
.container-kontakty {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.container-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-style: normal;
}
.container-tel {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.02em;
}
li {
  list-style: none;
}
.block-h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}
.contaner-h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.container-3 {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.knopka-1 {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.container-button-1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.logo-link-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.footer-address {
  font-style: normal;
}
